body
{
  font: 14px/1.5  "Open Sans", Arial, sans-serif;
  background: #E4E4E4;
  color: #333;
  padding: 0 0 0px;
}

.container {
  max-width: 920px;
  margin: 0 auto;
}

@media only screen and (max-device-width : 920px) {
.container {width: 100%;}
}

/* anchors */
a {
  color: #2470BB;
  text-decoration: none;
  font-family: "Open Sans", Arial, sans-serif;
}
a:hover {
  color:#348EE9;
}
a:focus {
  outline: 1px dotted invert;
}

/* commons */
h1 {font-size: 25px;}
h2 {font-size: 23px;}
h3 {font-size: 21px;}
h4 {font-size: 19px;}
h5 {font-size: 17px;}
h6 {font-size: 15px;}
h1, h2, h3, h4, h5, h6 {line-height:1.2em; margin-bottom:.3em;}
h2 {margin-top:1em;}
h6 {font-size:1em; text-transform:uppercase;}
h1 a {font-weight:normal;}

br {clear: both;}
ol {list-style: decimal;}
ul {list-style: square;}
li {margin-left: 30px;}
p,dl,pre,table,address,fieldset {margin-bottom: 20px;}

p {
  margin-bottom:1em;
}

ul, ol {
  padding-top:0;
}

hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

.float-left {float:left;}
.float-right {float:right;}
.text-center {margin: 0 auto; text-align: center;}
.clear {clear: both;}
.margin-top {margin-top: 1.5em;}
.margin-bottom {margin-bottom: 2em;}
.valign-top {vertical-align: top;}

.header {
  background: #3E5A6F;  
  text-align: left;
  padding:2em 1em 2em 1.6em;
  margin-bottom:0;
  font-size: 13px;
}

.header a {
  color:#A1EAFF;
}

.header a:hover {
  color:#fff;
}

.header ul, .header ul li {
  margin:0px;
  padding:0px;
}

.header li {
  padding:0px 0px 0px 0px !important;
}

.header-ul li {
  list-style-type: none;
  color:#fff;
}

#branding {
  font-size: 26px;
  font-family: "Segoe UI", "Open Sans", Arial, sans-serif;
  font-weight: bold;
  display: inline;
}

#branding a {
  color: #fff;
}

/* Clear Floated Elements */
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}


/* boxes  */
.box {
  background: #fff;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;  
}

.box.round {
  -moz-border-radius: 5px 5px 5px 5px; /* Firefox */
  -webkit-border-radius: 5px 5px 5px 5px; /* Safari, Chrome */
  border-radius: 5px 5px 5px 5px; /* CSS3 */
}

.box h2, h3 {
  font-size: 1em;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
  color: #1B548D;
  background: #EEF2F4;
  margin: -10px -10px 0 -10px;
  padding: 10px 40px;
  border-bottom: 1px solid #B3CBD6;
  -moz-border-radius: 5px 5px 5px 5px; /* Firefox */
  -webkit-border-radius: 5px 5px 5px 5px; /* Safari, Chrome */
  border-radius: 5px 5px 5px 5px; /* CSS3 */
}

.box.first {
  margin-top: 40px;
}

.block {
  padding: 45px 60px 50px 30px;
  overflow-x: auto;
}

.news {
  margin: 30px 30px 30px 30px;
}

.newsinfo {
  margin: 20px 30px 10px 30px;
  font-style: italic;
}



/* images */
img.left {
  margin: 10px 10px 10px 0;
  border: none;
  float: left;
}

img.right {
  margin: 10px 0 10px 10px;
  border: none;
  float: right;
}


/* forms, inputs */
.form {
  width: 100%;
}

input[type=text], input[type=password], input[type=email], select, textarea {
  font-family: Tahoma, Arial, sans-serif;
  border-top: 1px solid #b3b3b3;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

textarea {
  width: 300px;
  padding: 6px;
}

.form input[type=text], .form input[type=password], .form input[type=email], .form select {  
  width: 220px;
  padding: 6px;
}  

.form .form-group {
  padding: 6px 0px;
}

.form label, .message-box label {    
  display: inline-block;
  width: 150px;
}

.dropdown {
  margin: 5px 0 15px 0;
  width: 220px;
  height: 26px;
  overflow: hidden;
  background: url(../img/new_arrow.jpg) no-repeat right #ddd;
  border: 1px solid #ccc;
}

.dropdown select {
  background: transparent;
  width: 220px;
  padding: 4px;
  font-size: 14px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 26px;
  -webkit-appearance: none;
}


/* buttons */
.btn {
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.25em 1.5em;
  line-height: 1.5;
  border-radius: 0.3em;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
  transition: none;
  }
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2em rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn.disabled, fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-image: linear-gradient(#5ca2e8, #40668e);
  border-color: #2e75c1;
}

.btn-primary:hover {
  color: #fff;
  background-image: linear-gradient(#468fd8, #295a8e);
  border-color: #2e75c1;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2em rgba(0, 123, 255, 0.5);
}

.btn-secondary {
  color: #000;
  background-color: #fff;
  border-color: #2e75c1;
}

.btn-secondary:hover {
  color: #fff;
  background-image: linear-gradient(#449CF4, #1273D5);
  border-color: #2e75c1;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2em rgba(0, 123, 255, 0.5);
}


/*  Notifications */
.message-box {
  display: block;
  min-height: 2.5em;
  margin-top: -20px;
}
.message {
  padding: 6px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
}

.message.info {
  border: 1px solid #cadcea;
  background: #e1f2fc;
  background: -webkit-gradient(linear, left top, left bottom, from(#e1f2fc), to(#cae9fd));
  background: -moz-linear-gradient(top,  #e1f2fc,  #cae9fd);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1f2fc', endColorstr='#cae9fd');
  color: #225b86;
  text-shadow: 0 1px 0 #fff;
}

.message.error {
  border: 1px solid #eeb7ba;
  background: #fae2e2;
  background: -webkit-gradient(linear, left top, left bottom, from(#fae2e2), to(#f2cacb));
  background: -moz-linear-gradient(top,  #fae2e2,  #f2cacb);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae2e2', endColorstr='#f2cacb');
  color: #960000;
  text-shadow: 0 1px 0 #fff;
}

.message.success {
  border: 1px solid #b8c97b;
  background: #e5edc4;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
  background: -moz-linear-gradient(top,  #e5edc4,  #d9e4ac);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
  color: #3f7227;
  text-shadow: 0 1px 0 #fff;
}

.message.warning {
  border: 1px solid #e5dbaa;
  background: #ffffc0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffc0), to(#f9ee9c));
  background: -moz-linear-gradient(top,  #ffffc0,  #f9ee9c);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc0', endColorstr='#f9ee9c');
  color: #6d7829;
  text-shadow: 0 1px 0 #fff;
}

/* div-tables */
.table {
  width: 100%;
  display: table;
}

.table-heading {
  display: table-row;
  font-weight: 600;
}

.table-row {
	display: table-row;
}

.table-cell, .table-head {
	display: table-cell;
	padding: 10px 10px;
}

.table-body {
	display: table-row-group;
}


/* tables */
table {
	margin: 0 auto;
	clear: both;
	width: 100%;  
}

.datatable th {
  font-weight: normal;
}

.datatable td, .datatable th {
  padding: 0.5em 2em 0.5em 0.5em;
}

.datatable tr.odd, .datatable tr.even {	
  border-bottom: 1px solid #e6e6e6;
}

.datatable tr.odd:hover, .datatable tr.even:hover {
  background: #f6f6f6;
}

.dataTables_info, .dataTables_paginate {
  margin-bottom: 3em;
}

.dataTables_empty {
  text-align: center;
}

.dataTables_wrapper {
  position: relative;
  min-height: 302px;
  clear: both;
  _height: 302px;
  zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
}

.dataTables_length {
  width: 40%;
  float: left;
  margin-bottom: 1em;
}

.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right;
  margin-bottom: 1em;
}

.dataTables_info {
  width: 60%;
  float: left;
  margin-top: 1em;
}

.dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.5em;
}

.dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  margin-left: 6px;
  text-align: center;
  text-decoration: none !important;
  color: #333 !important;
}

.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:hover {
  border: solid 1px #999;
  cursor: default;
  color: #333 !important;
}

.dataTables_paginate .paginate_button:hover {
  color: #348EE9 !important;
  cursor: pointer;
}

/* DataTables sorting */
.sorting_asc {
  background: #8f8f8f url(img/table/sort_asc.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}
.sorting_desc {
  background: #8f8f8f url(img/table/sort_desc.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}
.sorting {
  background: #8f8f8f url(img/table/sort_both.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}
.sorting_asc_disabled {
  background: #8f8f8f url(img/table/sort_asc_disabled.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}
.sorting_desc_disabled {
  background: #8f8f8f url(img/table/sort_desc_disabled.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}


@media (max-width: 767px) {
  .header {
  padding: 1.4em 1em 1.4em 1.6em;
  }
  .block {
  margin: 30px 5px 20px 10px;
  }
  .news {
  margin: 15px 10px 15px 15px;
  }
  .newsinfo {
  margin: 15px 10px 10px 15px;
  }
  .box h2 {
  padding: 10px 25px;
  }
  .message-box label { 
  width: 0px;
  }
  .form-group .btn {
    float: left;
    margin-top:0;
  }
  .hide_mobile {
  display: none;
  }
}